/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-5e72dc6a5422058862ba.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-56ba37653184573f0c8b.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-c9a5452675ec00eb83b1.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-12-06T16-14-22-0251.json
/cmake-build-debug/.cmake/api/v1/reply/target-cli_game-Debug-31cfc53228a66b535860.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-536a7eaeba1a33fdf7c1.json
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/a.out
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/.idea/.gitignore
/.idea/.name
/.idea/cli-game.iml
/.idea/editor.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
